In [1]:
# list 3-1
person_info = ("Sara", 140, 5.7)

In [3]:
# list 3-2
people = ["Sara", "Sam", "Joe"]

In [5]:
# list 3-3
word_alphabet = {"a": "apple", "b": "banana"}

In [7]:
#list 3-4
alphabet = {"a", "b"}

In [9]:
#list 3-5
str1 = "foo"
str2 = "foo"
assert str1 is str2

In [11]:
#list 3-6
# Note this must be run on the python commandline to prevent interpreter optimizations
str1 = "foo bar"
str2 = "foo bar"
assert str1 is not str2

In [13]:
#list 3-7
# Note this must be run on the python commandline to prevent interpreter optimizations
int1 = 22
int2 = 22
int3 = 257
int4 = 257
assert int1 is int2
assert int3 is not int4

In [15]:
##list 3-8
ref1 = "foo"
ref2 = "foo"

In [17]:
ref1 = "foo"
ref2 = "foo"

del(ref2)  # reference count = 1 after this line executes
del(ref1)  # reference count = 0 after this line executes

In [19]:
import sys


try:
    raise Exception("Something went wrong.")
except Exception as e:
    exc_info = sys.exc_info()
    frame = exc_info[2].tb_frame  # create a third reference

import pdb; pdb.set_trace()
assert sys.getrefcount(frame) == 3
del exc_info
assert sys.getrefcount(frame) == 3

--Return--
None
> /var/folders/dv/3stz4zmn5jn1dhpcpw10k25h0000gp/T/ipykernel_64466/4084345287.py(10)<module>()
      8     frame = exc_info[2].tb_frame  # create a third reference
      9
---> 10 import pdb; pdb.set_trace()
     11 assert sys.getrefcount(frame) == 3
     12 del exc_info

ipdb>  a'a'a

--KeyboardInterrupt--

KeyboardInterrupt: Interrupted by user

AssertionError:

In [ ]:
#include "stdlib.h"

float* array = (float*) malloc(100 * sizeof(float));

In [21]:
import numpy as np

groups_waiting_for_a_table = np.ndarray(
    (3, 0), buffer=np.array([4, 7, 21], dtype=np.uint8), dtype=np.uint8
)

In [23]:
import pandas as pd

produce = pd.Series(["apple", "banana", "carrot", "apple"], dtype="category")

In [25]:
import pandas as pd


def grade(values):
    if 70 <= values["score"] < 80:
        values["score"] = "C"
    elif 80 <= values["score"] < 90:
        values["score"] = "B"
    elif 90 <= values["score"]:
        values["score"] = "A"
    else:
        values["score"] = "F"
    return values


scores = pd.DataFrame({"score": [89, 70, 71, 65, 30, 93, 100, 75]})
scores.apply(grade, axis=1)

  score
0     B
1     C
2     C
3     F
4     F
5     A
6     A
7     C

In [27]:
import pandas as pd

restaurant_inspections = pd.DataFrame(
    {
        "restaurant": ["Diner", "Diner", "Pandas", "Pandas"],
        "location": [(4, 2), (4, 2), (5, 4), (5, 4)],
        "date": ["02/18", "05/18", "04/18", "01/18"],
        "score": [90, 100, 55, 60],
    }
)

print(restaurant_inspections)

  restaurant location   date  score
0      Diner   (4, 2)  02/18     90
1      Diner   (4, 2)  05/18    100
2     Pandas   (5, 4)  04/18     55
3     Pandas   (5, 4)  01/18     60

In [29]:
import pandas as pd

restaurants = pd.MultiIndex.from_tuples(
    (("Diner", (4, 2)), ("Diner", (4, 2)), ("Pandas", (5, 4)), ("Pandas", (5, 4))),
    names=["restaurant", "location"],
)

restaurant_inspections = pd.DataFrame(
    {"date": ["02/18", "05/18", "04/18", "01/18"], "score": [90, 100, 55, 76]},
    index=restaurants,
)

print(restaurant_inspections)

                      date  score
restaurant location
Diner      (4, 2)    02/18     90
           (4, 2)    05/18    100
Pandas     (5, 4)    04/18     55
           (5, 4)    01/18     76

In [31]:
import pandas as pd

restaurants = pd.MultiIndex.from_tuples(
    (("Diner", (4, 2)), ("Pandas", (5, 4))),
    names=["restaurant", "location"],
)

inspections = pd.MultiIndex.from_tuples(

    (
        (0, "score"),
        (0, "date"),
        (1, "score"),
        (1, "date"),
    ),
    names=["inspection", None],
)

restaurant_inspections = pd.DataFrame(
    [[90, "02/18", 100, "05/18"], [55, "04/18", 76, "01/18"]], index=restaurants, columns=inspections
)

print(restaurant_inspections)

inspection              0            1
                    score   date score   date
restaurant location
Diner      (4, 2)      90  02/18   100  05/18
Pandas     (5, 4)      55  04/18    76  01/18

In [33]:
import pandas as pd

restaurant_inspections = pd.DataFrame(
    {
        "restaurant": ["Diner", "Diner", "Pandas", "Pandas"],
        "location": [(4, 2), (4, 2), (5, 4), (5, 4)],
        "date": ["02/18", "05/18", "02/18", "05/18"],
        "score": [90, 100, 55, 60],
    }
)
print(restaurant_inspections)

total_inspections = restaurant_inspections.groupby(
    ["restaurant", "location"], as_index=False
)["score"].count()

total_inspections.rename(columns={"score": "total"}, inplace=True)
print(total_inspections)
restaurant_inspections = pd.merge(
    restaurant_inspections, total_inspections, how="outer"
)
print(restaurant_inspections)

  restaurant location   date  score
0      Diner   (4, 2)  02/18     90
1      Diner   (4, 2)  05/18    100
2     Pandas   (5, 4)  02/18     55
3     Pandas   (5, 4)  05/18     60
  restaurant location  total
0      Diner   (4, 2)      2
1     Pandas   (5, 4)      2
  restaurant location   date  score  total
0      Diner   (4, 2)  02/18     90      2
1      Diner   (4, 2)  05/18    100      2
2     Pandas   (5, 4)  02/18     55      2
3     Pandas   (5, 4)  05/18     60      2

In [46]:
import pandas as pd

restaurants = pd.MultiIndex.from_tuples(
    (("Diner", (4, 2)), ("Diner", (4, 2)), ("Pandas", (5, 4)), ("Pandas", (5, 4))),
    names=["restaurant", "location"],
)

restaurant_inspections = pd.DataFrame(
    {"date": ["02/18", "05/18", "02/18", "05/18"], "score": [90, 100, 55, 76]},
    index=restaurants,
)
print(restaurant_inspections)

restaurant_inspections["total"] = (
    restaurant_inspections["score"].groupby(["restaurant", "location"]).count()
)

restaurant_inspections.set_index(["total"], append=True, inplace=True)
print(restaurant_inspections)

                      date  score
restaurant location
Diner      (4, 2)    02/18     90
           (4, 2)    05/18    100
Pandas     (5, 4)    02/18     55
           (5, 4)    05/18     76
                            date  score
restaurant location total
Diner      (4, 2)   2      02/18     90
                    2      05/18    100
Pandas     (5, 4)   2      02/18     55
                    2      05/18     76

In [44]:
import pandas as pd

restaurants = pd.MultiIndex.from_tuples(
    (("Diner", (4, 2)), ("Pandas", (5, 4))),
    names=["restaurant", "location"],
)

restaurant_inspections = pd.DataFrame(
    {"02/18": [90, 55], "05/18": [100, 76]}, index=restaurants
)
print(restaurant_inspections)

restaurant_inspections["total"] = restaurant_inspections.count(axis=1)

restaurant_inspections.set_index(["total"], append=True, inplace=True)
print(restaurant_inspections)

                     02/18  05/18
restaurant location
Diner      (4, 2)       90    100
Pandas     (5, 4)       55     76
                           02/18  05/18
restaurant location total
Diner      (4, 2)   2         90    100
Pandas     (5, 4)   2         55     76

In [42]:
##list 3-22
import pandas as pd

restaurants = pd.MultiIndex.from_tuples(
    (("Diner", (4, 2)), ("Pandas", (5, 4))),
    names=["restaurant", "location"],
)

inspections = pd.MultiIndex.from_tuples(
    ((0, "score"), (0, "date"), (1, "score"), (1, "date")), names=["inspection", "data"]
)

restaurant_inspections = pd.DataFrame(
    [[90, "02/18", 100, "05/18"], [55, "04/18", 76, "01/18"]],
    index=restaurants,
    columns=inspections,
)
print(restaurant_inspections)


total = restaurant_inspections.iloc[
    :, restaurant_inspections.columns.get_level_values("data") == "score"
].count()

new_index = pd.DataFrame(
    total.values, columns=["total"], index=restaurant_inspections.index
)

new_index.set_index("total", append=True, inplace=True)

restaurant_inspections.index = new_index.index
print(restaurant_inspections)

inspection              0            1
data                score   date score   date
restaurant location
Diner      (4, 2)      90  02/18   100  05/18
Pandas     (5, 4)      55  04/18    76  01/18
inspection                    0            1
data                      score   date score   date
restaurant location total
Diner      (4, 2)   2        90  02/18   100  05/18
Pandas     (5, 4)   2        55  04/18    76  01/18