In [5]:
import pandas as pd

arrivals_by_destination = (
    pd.DataFrame(
        [
            [2015, "LON", 10],
            [2015, "BER", 20],
            [2015, "LON", 5],
            [2016, "LON", 10],
            [2016, "BER", 15],
            [2016, "BER", 10],
        ],
        columns=["date", "place", "number"],
    )
    .set_index(["date", "place"])
    .sort_index()
)

print(arrivals_by_destination)
groups = arrivals_by_destination.groupby(["date", "place"])

for idx, grp in groups:
    arrivals_by_destination.loc[idx, "total"] = grp["number"].sum()

print(arrivals_by_destination)

            number
date place
2015 BER        20
     LON        10
     LON         5
2016 BER        15
     BER        10
     LON        10
            number  total
date place
2015 BER        20   20.0
     LON        10   15.0
     LON         5   15.0
2016 BER        15   25.0
     BER        10   25.0
     LON        10   10.0

In [7]:
import pandas as pd

arrivals_by_destination = (
    pd.DataFrame(
        [
            [2015, "LON", 10],
            [2015, "BER", 20],
            [2015, "LON", 5],
            [2016, "LON", 10],
            [2016, "BER", 15],
            [2016, "BER", 10],
        ],
        columns=["date", "place", "number"],
    )
    .set_index(["date", "place"])
    .sort_index()
)

print(arrivals_by_destination)
arrivals_by_destination["total"] = arrivals_by_destination.groupby(
    ["date", "place"]
).sum()
print(arrivals_by_destination)

            number
date place
2015 BER        20
     LON        10
     LON         5
2016 BER        15
     BER        10
     LON        10
            number  total
date place
2015 BER        20     20
     LON        10     15
     LON         5     15
2016 BER        15     25
     BER        10     25
     LON        10     10

In [9]:
import pandas as pd

arrivals_by_destination = (
    pd.DataFrame(
        [
            [2015, "BER", 20, 0],
            [2015, "LON", 10, 5],
            [2016, "BER", 15, 10],
            [2016, "LON", 10, 0],
        ],
        columns=["date", "place", "0", "1"],
    )
    .set_index(["date", "place"])
    .sort_index()
)

print(arrivals_by_destination)

arrivals_by_destination["total"] = arrivals_by_destination.sum()

             0   1
date place
2015 BER    20   0
     LON    10   5
2016 BER    15  10
     LON    10   0