In [3]:
#List5-1
import pandas as pd
import numpy as np


df = pd.DataFrame(
    [
        ["Diner", (4, 2), "02/18", 90],
        ["Pandas", (5, 4), "04/18", 55],
        ["Diner", (4, 2), "05/18", 100],
        ["Pandas", (5, 4), "01/18", 76],
    ],
    columns=["restaurant", "location", "date", "score"],
)

print(df)
df = df.pivot_table(values=["score"], index=["restaurant", "location"], aggfunc=np.mean)
print(df)

  restaurant location   date  score
0      Diner   (4, 2)  02/18     90
1     Pandas   (5, 4)  04/18     55
2      Diner   (4, 2)  05/18    100
3     Pandas   (5, 4)  01/18     76
                     score
restaurant location
Diner      (4, 2)     95.0
Pandas     (5, 4)     65.5

In [5]:
#List5-2
import pandas as pd
import numpy as np


df = pd.DataFrame(
    [
        ["Diner", (4, 2), "02/18", 90],
        ["Pandas", (5, 4), "04/18", 55],
        ["Diner", (4, 2), "05/18", 100],
        ["Pandas", (5, 4), "01/18", 76],
    ],
    columns=["restaurant", "location", "date", "score"],
).set_index(["restaurant", "location"])

print(df)
df = df[["score"]].groupby(["restaurant", "location"]).mean()
print(df)

                      date  score
restaurant location
Diner      (4, 2)    02/18     90
Pandas     (5, 4)    04/18     55
Diner      (4, 2)    05/18    100
Pandas     (5, 4)    01/18     76
                     score
restaurant location
Diner      (4, 2)     95.0
Pandas     (5, 4)     65.5

In [7]:
#list 5-3
import pandas as pd
import numpy as np


df = pd.DataFrame(
    [
        ["02/18", 90, 1384, 10],
        ["02/25", 80, 1384, 10],
        ["03/07", 65, 1384, 10],
        ["03/21", 60, 1384, 10],
        ["02/18", 30, 1389, 7],
        ["02/25", 20, 1389, 7],
        ["03/07", 25, 1389, 7],
        ["03/21", 25, 1389, 7],
    ],
    columns=["date", "tumor_size", "drug", "dose"],
)

print(df)
print(df.pivot(index="drug", columns="date", values="tumor_size"))

    date  tumor_size  drug  dose
0  02/18          90  1384    10
1  02/25          80  1384    10
2  03/07          65  1384    10
3  03/21          60  1384    10
4  02/18          30  1389     7
5  02/25          20  1389     7
6  03/07          25  1389     7
7  03/21          25  1389     7
date  02/18  02/25  03/07  03/21
drug
1384     90     80     65     60
1389     30     20     25     25

In [13]:
#List5-4
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame(
    [
        ["02/18", 90, 1384, 10],
        ["02/25", 80, 1384, 10],
        ["03/07", 65, 1384, 10],
        ["03/21", 60, 1384, 10],
        ["02/18", 30, 1389, 7],
        ["02/25", 20, 1389, 7],
        ["03/07", 25, 1384, 10],
        ["03/21", 25, 1389, 7],
    ],
    columns=["date", "tumor_size", "drug", "dose"],
)

# Print the original DataFrame
print("Original DataFrame:")
print(df)

# Pivot the DataFrame to show tumor_size values for each drug over different dates
pivot_df = df.pivot_table(index="drug", columns="date", values="tumor_size", aggfunc='mean')

# Print the pivoted DataFrame
print("\nPivoted DataFrame:")
print(pivot_df)

Original DataFrame:
    date  tumor_size  drug  dose
0  02/18          90  1384    10
1  02/25          80  1384    10
2  03/07          65  1384    10
3  03/21          60  1384    10
4  02/18          30  1389     7
5  02/25          20  1389     7
6  03/07          25  1384    10
7  03/21          25  1389     7

Pivoted DataFrame:
date  02/18  02/25  03/07  03/21
drug
1384   90.0   80.0   45.0   60.0
1389   30.0   20.0    NaN   25.0

In [15]:
#List 5-5
import pandas as pd
import numpy as np


df = (
    pd.DataFrame(
        [
            ["Diner", (4, 2), 0, 90],
            ["Pandas", (5, 4), 0, 55],
            ["Diner", (4, 2), 1, 100],
            ["Pandas", (5, 4), 1, 76],
        ],
        columns=["restaurant", "location", "inspection", "score"],
    )
    .set_index(["restaurant", "location", "inspection"])
    .unstack()
)

print(df)
df = df.stack().reset_index()
print(df)
df.drop(columns=["inspection"], inplace=True)
df.set_index(["restaurant", "location"], inplace=True)
print(df)

                    score
inspection              0    1
restaurant location
Diner      (4, 2)      90  100
Pandas     (5, 4)      55   76
  restaurant location  inspection  score
0      Diner   (4, 2)           0     90
1      Diner   (4, 2)           1    100
2     Pandas   (5, 4)           0     55
3     Pandas   (5, 4)           1     76
                     score
restaurant location
Diner      (4, 2)       90
           (4, 2)      100
Pandas     (5, 4)       55
           (5, 4)       76

In [17]:
#List 5-6
import pandas as pd
import numpy as np


df = pd.DataFrame(
    [
        ["Diner", (4, 2), 90],
        ["Pandas", (5, 4), 55],
        ["Diner", (4, 2), 100],
        ["Pandas", (5, 4), 76],
    ],
    columns=["restaurant", "location", "score"],
).set_index(["restaurant", "location"])

print(df)
df["inspection"] = df.groupby(["restaurant", "location"]).cumcount()
df.set_index("inspection", append=True, inplace=True)

print(df)
df = df.unstack()
print(df)

                     score
restaurant location
Diner      (4, 2)       90
Pandas     (5, 4)       55
Diner      (4, 2)      100
Pandas     (5, 4)       76
                                score
restaurant location inspection
Diner      (4, 2)   0              90
Pandas     (5, 4)   0              55
Diner      (4, 2)   1             100
Pandas     (5, 4)   1              76
                    score
inspection              0    1
restaurant location
Diner      (4, 2)      90  100
Pandas     (5, 4)      55   76

In [19]:
#List 5-7
import pandas as pd
import numpy as np


df = pd.DataFrame(
    [["Diner", (4, 2), 90, 100], ["Pandas", (5, 4), 55, 76]],
    columns=["restaurant", "location", 0, 1],
)

print(df)
df = df.melt(
    id_vars=["restaurant", "location"], value_vars=[0, 1], value_name="score"
).drop(columns="variable")
print(df)

  restaurant location   0    1
0      Diner   (4, 2)  90  100
1     Pandas   (5, 4)  55   76
  restaurant location  score
0      Diner   (4, 2)     90
1     Pandas   (5, 4)     55
2      Diner   (4, 2)    100
3     Pandas   (5, 4)     76

In [21]:
#List 5-8
import pandas as pd
import numpy as np


patient_list = pd.DataFrame(
    [["O+", 2394, "hbp"], ["B+", 2312, np.nan], ["O-", 23409, "lbp"]],
    columns=["blood_type", "id", "history"],
).set_index(["blood_type"])

drug_table = pd.DataFrame(
    [
        ["ADF", "ADF", "ACB", "DCB", "ACE", "BAB"],
        ["GCB", "RAB", "DF", "EFR", np.nan, "HEF"],
        ["RAB", np.nan, np.nan, np.nan, np.nan, np.nan],
    ],
    columns=["O+", "O-", "A+", "A-", "B+", "B-"],
)

print(patient_list)
print(drug_table)
drug_table = drug_table.transpose(copy=False)
print(drug_table)
print(patient_list.join(drug_table))

               id history
blood_type
O+           2394     hbp
B+           2312     NaN
O-          23409     lbp
    O+   O-   A+   A-   B+   B-
0  ADF  ADF  ACB  DCB  ACE  BAB
1  GCB  RAB   DF  EFR  NaN  HEF
2  RAB  NaN  NaN  NaN  NaN  NaN
      0    1    2
O+  ADF  GCB  RAB
O-  ADF  RAB  NaN
A+  ACB   DF  NaN
A-  DCB  EFR  NaN
B+  ACE  NaN  NaN
B-  BAB  HEF  NaN
               id history    0    1    2
blood_type
O+           2394     hbp  ADF  GCB  RAB
B+           2312     NaN  ACE  NaN  NaN
O-          23409     lbp  ADF  RAB  NaN