In [1]:
#List 6-1
import pandas as pd
import numpy as np


df = pd.DataFrame([[4, 9], [6, 7]], columns=["A", "B"])
print(df)
print(df.apply(np.sum, axis=1))

   A  B
0  4  9
1  6  7
0    13
1    13
dtype: int64

In [3]:
for i, v in enumerate(series_gen):
    results[i] = self.f(v)
    keys.append(v.name)

NameError: name 'series_gen' is not defined

In [5]:
import pandas as pd


df = pd.DataFrame({"a": [0, 1, 2, 3], "b": [0, 1, 2, 3]})

results = [0] * len(df)
for i, v in df.iterrows():
    results[i] = v.sum()
df["sum"] = results
print(df)

   a  b  sum
0  0  0    0
1  1  1    2
2  2  2    4
3  3  3    6

In [11]:
import pandas as pd

df = pd.DataFrame({"a": [0, 1, 2, 3], "b": [0, 1, 2, 3]})
df.sum(axis=1)

0    0
1    2
2    4
3    6
dtype: int64

In [17]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [0, np.nan, np.nan, 4], "B": [0, 1, 2, 3], "C": [0, 4, 1, 5]})

def replace_missing(series):
    if np.isnan(series["A"]):
        series["A"] = max(series["B"], series["C"])
    return series

df = df.apply(replace_missing, axis=1)
df

     A    B    C
0  0.0  0.0  0.0
1  4.0  1.0  4.0
2  2.0  2.0  1.0
3  4.0  3.0  5.0

In [19]:
import pandas as pd
import numpy as np

df = pd.DataFrame({"A": [0, np.nan, np.nan, 4], "B": [0, 1, 2, 3], "C": [0, 4, 1, 5]})
df["A"].where(~df["A"].isna(), df[["B", "C"]].max(axis=1), inplace=True)
df

     A  B  C
0  0.0  0  0
1  4.0  1  4
2  2.0  2  1
3  4.0  3  5

In [21]:
import pandas as pd
import numpy as np

def test_fruit_in_order(series):
    if series["fruit"].lower() in series["order"].lower():
        return series
    return np.nan

data = pd.DataFrame(
    {
        "fruit": ["orange", "lemon", "mango"],
        "order": ["I'd like an orange", "Mango please.", "May I have a mango?"],
    }
)

print(data)
print(data.apply(test_fruit_in_order, axis=1, result_type="reduce").dropna())

    fruit                order
0  orange   I'd like an orange
1   lemon        Mango please.
2   mango  May I have a mango?
    fruit                order
0  orange   I'd like an orange
2   mango  May I have a mango?

In [25]:
import pandas as pd
import numpy as np

data = pd.DataFrame(
    {
        "fruit": ["orange", "lemon", "mango"],
        "order": ["I'd like an orange", "Mango please.", "May I have a mango?"],
    }
)

mask = [
    fruit.lower() in order.lower() for (fruit, order) in data[["fruit", "order"]].values
]
data = data[mask]
data

    fruit                order
0  orange   I'd like an orange
2   mango  May I have a mango?

In [27]:
import dis

def for_loop():
    l = []
    for x in range(5):
        l.append(x % 2)

print(dis.dis(for_loop))

  3           0 RESUME                   0

  4           2 BUILD_LIST               0
              4 STORE_FAST               0 (l)

  5           6 LOAD_GLOBAL              1 (NULL + range)
             18 LOAD_CONST               1 (5)
             20 PRECALL                  1
             24 CALL                     1
             34 GET_ITER
        >>   36 FOR_ITER                26 (to 90)
             38 STORE_FAST               1 (x)

  6          40 LOAD_FAST                0 (l)
             42 LOAD_METHOD              1 (append)
             64 LOAD_FAST                1 (x)
             66 LOAD_CONST               2 (2)
             68 BINARY_OP                6 (%)
             72 PRECALL                  1
             76 CALL                     1
             86 POP_TOP
             88 JUMP_BACKWARD           27 (to 36)

  5     >>   90 LOAD_CONST               0 (None)
             92 RETURN_VALUE
None

In [29]:
import dis

def list_comprehension():
    l = [x % 2 for x in range(5)]


print(dis.dis(list_comprehension))

  3           0 RESUME                   0

  4           2 LOAD_CONST               1 (<code object <listcomp> at 0x13ede0ed0, file "/var/folders/dv/3stz4zmn5jn1dhpcpw10k25h0000gp/T/ipykernel_71983/1760374281.py", line 4>)
              4 MAKE_FUNCTION            0
              6 LOAD_GLOBAL              1 (NULL + range)
             18 LOAD_CONST               2 (5)
             20 PRECALL                  1
             24 CALL                     1
             34 GET_ITER
             36 PRECALL                  0
             40 CALL                     0
             50 STORE_FAST               0 (l)
             52 LOAD_CONST               0 (None)
             54 RETURN_VALUE

Disassembly of <code object <listcomp> at 0x13ede0ed0, file "/var/folders/dv/3stz4zmn5jn1dhpcpw10k25h0000gp/T/ipykernel_71983/1760374281.py", line 4>:
  4           0 RESUME                   0
              2 BUILD_LIST               0
              4 LOAD_FAST                0 (.0)
        >>    6 FOR_ITER                 7 (to 22)
              8 STORE_FAST               1 (x)
             10 LOAD_FAST                1 (x)
             12 LOAD_CONST               0 (2)
             14 BINARY_OP                6 (%)
             18 LIST_APPEND              2
             20 JUMP_BACKWARD            8 (to 6)
        >>   22 RETURN_VALUE
None

In [33]:
def percentileofscore(a, score):
    """
    Three-quarters of the given values lie below a given score:
    >>> stats.percentileofscore([1, 2, 3, 4], 3)
    75.0
    With multiple matches, note how the scores of the two
    matches, 0.6 and 0.8 respectively, are averaged:
    >>> stats.percentileofscore([1, 2, 3, 3, 4], 3)
    70.0
    """
    n = len(a)
    left = np.count_nonzero(a < score)
    right = np.count_nonzero(a <= score)
    pct = (right + left + (1 if right > left else 0)) * 50.0 / n
    return pct

In [35]:
import pandas as pd
import numpy as np
from scipy import stats

data = pd.DataFrame(np.arange(20).reshape(4, 5))
print(data)

def apply_percentileofscore(series):
    return series.apply(lambda x: stats.percentileofscore(series, x))

print(data.apply(apply_percentileofscore, axis=1))

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
      0     1     2     3      4
0  20.0  40.0  60.0  80.0  100.0
1  20.0  40.0  60.0  80.0  100.0
2  20.0  40.0  60.0  80.0  100.0
3  20.0  40.0  60.0  80.0  100.0

In [37]:
import pandas as pd
import numpy as np

data = pd.DataFrame(np.arange(20).reshape(4, 5))

def percentileofscore(df):
    res_df = pd.DataFrame({})
    for col in df.columns:
        score = pd.DataFrame([df[col]] * 5, index=df.columns).T
    left = df[df < score].count(axis=1)
    right = df[df <= score].count(axis=1)
    right_is_greater = (
        df[df <= score].count(axis=1) > df[df < score].count(axis=1)
    ).astype(int)
    res_df[f"res{col}"] = (left + right + right_is_greater) * 50.0 / len(df.columns)
    return res_df

percentileofscore(data)

    res4
0  100.0
1  100.0
2  100.0
3  100.0

In [39]:
from scipy.stats import percentileofscore as pctofscore

from copy import deepcopy
def percentileofscore(values):
    percentiles = [0] * len(values[0])
    num_rows = len(values)
    for row_index in range(num_rows):
        row_vals = values[row_index]
        for col_index, col_val in enumerate(row_vals):
            percentiles[col_index] = pctofscore(row_vals, col_val)
        values[row_index] = percentiles

In [41]:
#python setup.py build_ext --inplace
import pyximport

pyximport.install(language_level=3)
from distutils.core import setup
from Cython.Build import cythonize

setup(ext_modules=cythonize("percentileofscore.pyx"))

ModuleNotFoundError: No module named 'pyximport'

In [43]:
from percentileofscore import percentileofscore

percentileofscore(data.values)

ModuleNotFoundError: No module named 'percentileofscore'