In [1]:
#list2-1
import pandas as pd

account_info = pd.DataFrame(
    {
        "name": ["Bob", "Mary", "Mita"],
        "account": [123846, 123972, 347209],
        "balance": [123, 3972, 7209],
    }
)

print(account_info["name"])

account_info["name"] = ["Smith", "Jane", "Patel"]

print(account_info)

0     Bob
1    Mary
2    Mita
Name: name, dtype: object
    name  account  balance
0  Smith   123846      123
1   Jane   123972     3972
2  Patel   347209     7209

In [3]:
#List 2-2
import pandas as pd

account_info = pd.DataFrame(
    {
        "name": ["Bob", "Mary", "Mita"],
        "account": [123846, 123972, 347209],
        "balance": [123, 3972, 7209],
    }
)

print(account_info[["name", "balance"]])

   name  balance
0   Bob      123
1  Mary     3972
2  Mita     7209

In [5]:
#list 2-3
import pandas as pd

account_info = pd.DataFrame(
    {
        "name": ["Bob", "Mary", "Mita"],
        "account": [123846, 123972, 347209],
        "balance": [123, 3972, 7209],
    }
)

print(account_info.iloc[1])
print(account_info.iloc[0:2])
print(account_info.iloc[:])

name         Mary
account    123972
balance      3972
Name: 1, dtype: object
   name  account  balance
0   Bob   123846      123
1  Mary   123972     3972
   name  account  balance
0   Bob   123846      123
1  Mary   123972     3972
2  Mita   347209     7209

In [7]:
#list 2-4
import pandas as pd

account_info = pd.DataFrame(
    {
        "name": ["Bob", "Mary", "Mita"],
        "account": [123846, 123972, 347209],
        "balance": [123, 3972, 7209],
    }
)

print(account_info.iloc[1, 2])

account_info.iloc[1, 2] = 3975

print(account_info.iloc[1, 2])
print(account_info.iloc[:, [0, 2]])

3972
3975
   name  balance
0   Bob      123
1  Mary     3975
2  Mita     7209

In [9]:
#list 2-5
import pandas as pd

account_info = pd.DataFrame(
    {
        "name": ["Bob", "Mary", "Mita"],
        "account": [123846, 123972, 347209],
        "balance": [123, 3972, 7209],
    }
)

print(account_info.iloc[account_info.index % 2 == 1])

   name  account  balance
1  Mary   123972     3972

In [11]:
#list 2-6
import pandas as pd

restaurants = pd.MultiIndex.from_tuples(
    (("Diner", (4, 2)), ("Pandas", (5, 4))),
    names=["restaurant", "location"],
)

inspections = pd.MultiIndex.from_tuples(
    ((0, "score"), (0, "date"), (1, "score"), (1, "date")), names=["inspection", "data"]
)

restaurant_inspections = pd.DataFrame(
    [[90, "02/18", 100, "05/18"], [55, "042/18", 76, "015/18"]],
    index=restaurants,
    columns=inspections,
)

print(restaurant_inspections)

score_columns = restaurant_inspections.columns.get_level_values("data") == "score"

print(score_columns)

print(restaurant_inspections.iloc[:, score_columns])

inspection              0             1
data                score    date score    date
restaurant location
Diner      (4, 2)      90   02/18   100   05/18
Pandas     (5, 4)      55  042/18    76  015/18
[ True False  True False]
inspection              0     1
data                score score
restaurant location
Diner      (4, 2)      90   100
Pandas     (5, 4)      55    76

In [13]:
#list 2-7
import pandas as pd

account_info = pd.DataFrame(
    {
        "name": ["Bob", "Mary", "Mita"],
        "account": [123846, 123972, 347209],
        "balance": [123, 3972, 7209],
    }
)

print(account_info.loc[1, "balance"])

print(account_info.loc[:, ["name", "balance"]])

3972
   name  balance
0   Bob      123
1  Mary     3972
2  Mita     7209

In [21]:
#list 2-8
import pandas as pd
import numpy as np


customers = pd.MultiIndex.from_tuples(
    (("Bob", "smithb"), ("Mary", "mj100"), ("Mita", "patelm")),
    names=["name", "username"],
)

accounts = pd.MultiIndex.from_tuples(
    ((0, "number"), (0, "balance"), (1, "number"), (1, "balance")), names=["account", "account_info"]
)

account_info = pd.DataFrame(
    [[123846, 123, 123847, 450], [123972, 3972, 123973, 222], [347209, 7209, np.nan, np.nan]],
    index=customers,
    columns=accounts,
)

print(account_info)

print(account_info.loc[("Mary", "mj100"), pd.IndexSlice[:, "balance"]])

account             0                 1
account_info   number balance    number balance
name username
Bob  smithb    123846     123  123847.0   450.0
Mary mj100     123972    3972  123973.0   222.0
Mita patelm    347209    7209       NaN     NaN
account  account_info
0        balance         3972.0
1        balance          222.0
Name: (Mary, mj100), dtype: float64

In [23]:
#list 2-9
import pandas as pd
import numpy as np

# Create a MultiIndex for customers
customers = pd.MultiIndex.from_tuples(
    [("Bob", "smithb"), ("Mary", "mj100"), ("Mita", "patelm")],
    names=["name", "username"]
)

# Create a MultiIndex for accounts
accounts = pd.MultiIndex.from_tuples(
    [(0, "number"), (0, "balance"), (1, "number"), (1, "balance")],
    names=["account", "account_info"]
)

# Create a DataFrame with the MultiIndex
account_info = pd.DataFrame(
    [
        [123846, 123, 123847, 450], 
        [123972, 3972, 123973, 222], 
        [347209, 7209, np.nan, np.nan]
    ],
    index=customers,
    columns=accounts
)

# New balance to be set
NEW_BALANCE = 0

# Update the balance for account 0 for all customers using .loc to avoid SettingWithCopyWarning
account_info.loc[:, (0, "balance")] = NEW_BALANCE

# Display the DataFrame
print(account_info)

account             0                 1
account_info   number balance    number balance
name username
Bob  smithb    123846       0  123847.0   450.0
Mary mj100     123972       0  123973.0   222.0
Mita patelm    347209       0       NaN     NaN

In [25]:
#list 2-10
import pandas as pd


building_records_1844 = pd.DataFrame(
    [["Grande Hotel", 1830],
    ["Jone’s Farm", 1842],
    ["Public Library", 1836],
    ["Marietta House", 1823]],
    columns=["building", "established"],
).set_index(["building"])

building_records_2020 = pd.DataFrame(
    [["Sam’s Bakery", 1962],
    ["Grande Hotel", 1830],
    ["Public Library", 1836],
    ["Mayberry’s Factory", 1924]],
    columns=["building", "established"],
).set_index(["building"])

print(building_records_1844)

print(building_records_2020)
cols = building_records_2020.columns.difference(building_records_1844.columns)
print(
    pd.merge(building_records_1844, building_records_2020[cols], how="inner", on=["building"])
)

                established
building
Grande Hotel           1830
Jone’s Farm            1842
Public Library         1836
Marietta House         1823
                    established
building
Sam’s Bakery               1962
Grande Hotel               1830
Public Library             1836
Mayberry’s Factory         1924
                established
building
Grande Hotel           1830
Public Library         1836

In [27]:
#2-11
import pandas as pd


gene_group1 = pd.DataFrame(
    [["Myc", 2, 0.05],
    ["BRCA1", 3, 0.01],
    ["BRCA2", 8, 0.02]],
    columns=["id", "FC1", "P1"],
).set_index(["id"])

gene_group2 = pd.DataFrame(
    [["Myc", 2, 0.05],
    ["BRCA1", 3, 0.01],
    ["Notch1", 2, 0.03],
    ["BRCA2", 8, 0.02]],
    columns=["id", "FC2", "P2"],
).set_index(["id"])

print(gene_group1)

print(gene_group2)

print(pd.merge(gene_group1, gene_group2, how="outer", on=["id"]))

       FC1    P1
id
Myc      2  0.05
BRCA1    3  0.01
BRCA2    8  0.02
        FC2    P2
id
Myc       2  0.05
BRCA1     3  0.01
Notch1    2  0.03
BRCA2     8  0.02
        FC1    P1  FC2    P2
id
Myc     2.0  0.05    2  0.05
BRCA1   3.0  0.01    3  0.01
BRCA2   8.0  0.02    8  0.02
Notch1  NaN   NaN    2  0.03

In [29]:
#2-12
import pandas as pd


building_records_1844 = pd.DataFrame(
    [["Grande Hotel", 1832],
    ["Jone’s Farm", 1842],
    ["Public Library", 1836],
    ["Marietta House", 1823]],
    columns=["building", "established"],
)

building_records_2020 = pd.DataFrame(
    [["Sam’s Bakery", 1962],
    ["Grande Hotel", 1830],
    ["Public Library", 1836],
    ["Mayberry’s Factory", 1924]],
    columns=["building", "established"],
)


print(building_records_1844)

print(building_records_2020)

merged_records = pd.merge(
    building_records_2020,
    building_records_1844,
    how="left",
    right_on="building",
    left_on="building",
    suffixes=("_2000", ""),
)

print(merged_records)

merged_records["established"].fillna(merged_records["established_2000"], inplace=True)

del merged_records["established_2000"]

print(merged_records)

         building  established
0    Grande Hotel         1832
1     Jone’s Farm         1842
2  Public Library         1836
3  Marietta House         1823
             building  established
0        Sam’s Bakery         1962
1        Grande Hotel         1830
2      Public Library         1836
3  Mayberry’s Factory         1924
             building  established_2000  established
0        Sam’s Bakery              1962          NaN
1        Grande Hotel              1830       1832.0
2      Public Library              1836       1836.0
3  Mayberry’s Factory              1924          NaN
             building  established
0        Sam’s Bakery       1962.0
1        Grande Hotel       1832.0
2      Public Library       1836.0
3  Mayberry’s Factory       1924.0

In [44]:
#2-13
import pandas as pd

# Define trial A records
trial_a_records = pd.DataFrame(
    [[230858, "John"],
     [237340, "May"],
     [240932, "Catherine"],
     [124093, "Ahmed"]],
    columns=["patient", "name"]
).set_index("patient")

# Define trial B records
trial_b_records = pd.DataFrame(
    [[210858, "Abi"],
     [237340, "May"],
     [240932, "Catherine"],
     [154093, "Julia"]],
    columns=["patient", "name"]
).set_index("patient")

print("Trial A Records:")
print(trial_a_records)
print("\nTrial B Records:")
print(trial_b_records)

# Merge the dataframes to find participants in either trial but not both
both_trials = pd.merge(
    trial_a_records, 
    trial_b_records, 
    how="outer", 
    left_index=True, 
    right_index=True, 
    indicator=True,
    suffixes=('_A', '_B')
)

print("\nMerged Records with Indicator:")
print(both_trials)

# Filter to find patients not in both trials
not_in_both = both_trials.query('_merge != "both"').drop("_merge", axis=1)
print("\nPatients in either Trial A or Trial B but not in both:")
print(not_in_both)

Trial A Records:
              name
patient
230858        John
237340         May
240932   Catherine
124093       Ahmed

Trial B Records:
              name
patient
210858         Abi
237340         May
240932   Catherine
154093       Julia

Merged Records with Indicator:
            name_A     name_B      _merge
patient
124093       Ahmed        NaN   left_only
154093         NaN      Julia  right_only
210858         NaN        Abi  right_only
230858        John        NaN   left_only
237340         May        May        both
240932   Catherine  Catherine        both

Patients in either Trial A or Trial B but not in both:
        name_A name_B
patient
124093   Ahmed    NaN
154093     NaN  Julia
210858     NaN    Abi
230858    John    NaN

In [48]:
#2-14
import pandas as pd


building_records_1844 = pd.DataFrame(
    [["Grande Hotel", 1831],
    ["Jone’s Farm", 1842],
    ["Public Library", 1836],
    ["Marietta House", 1823]],
    columns=["building", "established"],
).set_index("building")

building_records_2020 = pd.DataFrame(
    [["Sam’s Bakery", 1962],
    ["Grande Hotel", 1830],
    ["Public Library", 1835],
    ["Mayberry’s Factory", 1924]],
    columns=["building", "established"],
).set_index("building")

print(building_records_1844)

print(building_records_2020)

print(building_records_1844.join(building_records_2020, how="inner", rsuffix="_2000"))

                established
building
Grande Hotel           1831
Jone’s Farm            1842
Public Library         1836
Marietta House         1823
                    established
building
Sam’s Bakery               1962
Grande Hotel               1830
Public Library             1835
Mayberry’s Factory         1924
                established  established_2000
building
Grande Hotel           1831              1830
Public Library         1836              1835

In [50]:
#2-15
import pandas as pd


temp_county_a = pd.DataFrame(
    [[(4,5), 35.6],
    [(1,2), 37.4],
    [(6,4), 36.3],
    [(1,7), 40.2]],
    columns=["location", "temp"],
).set_index(["location"])

temp_county_b = pd.DataFrame(
    [[(6,4), 34.2],
    [(0,4), 33.7],
    [(3,8), 38.1],
    [(1,5), 37.0]],
    columns=["location", "temp"],
).set_index(["location"])


print(temp_county_a)

print(temp_county_b)

print(pd.concat([temp_county_a, temp_county_b]))

          temp
location
(4, 5)    35.6
(1, 2)    37.4
(6, 4)    36.3
(1, 7)    40.2
          temp
location
(6, 4)    34.2
(0, 4)    33.7
(3, 8)    38.1
(1, 5)    37.0
          temp
location
(4, 5)    35.6
(1, 2)    37.4
(6, 4)    36.3
(1, 7)    40.2
(6, 4)    34.2
(0, 4)    33.7
(3, 8)    38.1
(1, 5)    37.0

In [52]:
#2-16
import pandas as pd


temp_device_a = pd.DataFrame(
    [[(4,5), 35.6],
    [(1,2), 37.4],
    [(6,4), 36.3],
    [(1,7), 40.2]],
    columns=["location", "temp"],
).set_index(["location"])

temp_device_b = pd.DataFrame(
    [[(4,5), 34.2],
    [(1,2), 36.7],
    [(6,4), 37.1],
    [(1,7), 39.0]],
    columns=["location", "temp"],
).set_index(["location"])


print(temp_device_a)

print(temp_device_b)

print(pd.concat([temp_device_a, temp_device_b], keys=["device_a", "device_b"], axis=1))

          temp
location
(4, 5)    35.6
(1, 2)    37.4
(6, 4)    36.3
(1, 7)    40.2
          temp
location
(4, 5)    34.2
(1, 2)    36.7
(6, 4)    37.1
(1, 7)    39.0
         device_a device_b
             temp     temp
location
(4, 5)       35.6     34.2
(1, 2)       37.4     36.7
(6, 4)       36.3     37.1
(1, 7)       40.2     39.0