In [1]:
import io

import pandas as pd
import numpy as np

data = io.StringIO(
    """
id,age,height,weight
129237,32,5.4,126
123083,20,6.1,
123087,25,4.5,unknown
"""
)

df = pd.read_csv(
    data,
    dtype={
        "id": np.int32,
        "age": np.int8,
        "height": np.float16,
        "weight": pd.Int16Dtype(),
    },
    na_values=["unknown"],
    index_col=[0],
)

print(df)
print(df.memory_usage(deep=True))
print(df.dtypes)
print(df.index.dtype)

        age    height  weight
id
129237   32  5.398438     126
123083   20  6.101562    <NA>
123087   25  4.500000    <NA>
Index     24
age        3
height     6
weight     9
dtype: int64
age          int8
height    float16
weight      Int16
dtype: object
int64

In [3]:
import pandas as pd
import numpy as np


print(pd.Categorical([1, 3, 5, np.nan], ordered=True).min())

1

In [5]:
import io

import pandas as pd
import numpy as np


data = io.StringIO(
    """
id,name
129237,Mary
123083,Lacey
123087,Bob
"""
)

dtype = {"id": np.int32}
if pd.__version__ >= "1.0.0":
    dtype = {"id": np.int32, "name": pd.StringDtype()}


df = pd.read_csv(data, dtype=dtype, index_col=[0])
print(df)
print(df.memory_usage(deep=True))
print(df.dtypes)

         name
id
129237   Mary
123083  Lacey
123087    Bob
Index     24
name     183
dtype: int64
name    string
dtype: object

In [7]:
import pandas as pd


metadata = pd.Categorical(["Mary"] * 100000 + ["Boby"] * 100000 + ["Joe"] * 100000)

metadata.searchsorted(["Mary", "Joe"])

array([300000, 200000])

In [9]:
import pandas as pd
import numpy as np


data = pd.DataFrame({"size": [np.nan, 1.0, 3.5]})
print(data.dtypes)
print(id(data._data.blocks[0].values))

data.fillna(0.0, inplace=True)
print(data.dtypes)
print(id(data._data.blocks[0].values))

data.replace(0.0, "null", inplace=True)
print(data.dtypes)
print(id(data._data.blocks[0].values))

size    float64
dtype: object
4959243024
size    float64
dtype: object
4959243024
size    object
dtype: object
4959249552